PORT=3000
## En la mongo uri, en lugar de localhost uso la ip 127.0.0.1
## luego de la / se escribe la base de datos a la que nos queremos conectar
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce923
SECRET=secret
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=