PORT=3000
## En la mongo uri, en lugar de localhost uso la ip 127.0.0.1
## luego de la / se escribe la base de datos a la que nos queremos conectar
MONGODB_URI2=mongodb://127.0.0.1:27017/ecommerce923
SECRET=secret
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MONGODB_URI="mongodb://fnschembergermomgodbatlas_db_user:XlmVD7de1y3j19aW@ac-3x07g5t-shard-00-00.o8uobcg.mongodb.net:27017,ac-3x07g5t-shard-00-01.o8uobcg.mongodb.net:27017,ac-3x07g5t-shard-00-02.o8uobcg.mongodb.net:27017/ecommerce?ssl=true&replicaSet=atlas-a6bchx-shard-0&authSource=admin&retryWrites=true&w=majority"